h1, h2, h3 {
	text-align:center;
}

h1 {
	color: #AABBCC;
}

h2 {
	color: hsl(210, 13.3%, 73.5%) ;
}

.container {
	height: 960px;
}

.backgroundPopup {  
	display:none;  
	position:fixed;  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background:#000000;  
	border:1px solid #cecece;  
	z-index:1;  
	}
	
.popup {  
	display:none;
	position: relative;   
	height:384px;  
	width:408px;  
	background:#FFFFFF;  
	border:2px solid #cecece;  
	z-index:2;  
	padding:12px;  
	font-size:13px;
	margin: auto;  
	}
	  
.popup h1 {  
	text-align:left; 
	border-bottom:1px dotted #D3D3D3;  
	padding-bottom:2px;  
	margin-bottom:20px;  
	}
  
#popupClose {  
	font-size:14px;  
	line-height:14px;  
	right:6px;  
	top:4px;  
	position:absolute;  
	color:grey;  
	font-weight:700;  
	display:block;
	cursor: pointer;  
	}

#connectLink {
	position: relative;
	left: 500px;
}

#logout {
	float: right;
	margin-top:10px;
}

#payment {
	display:none;
}

#submit {
	display: block;
}